body {
    font-family: 'Kanit', sans-serif;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
    min-height: 400px;
}

.page-footer a:hover {
    text-decoration: underline;
}

.brand-logo {
    font-size: 1.7rem !important;
    font-weight: 600;
}

.footer-copyright a {
    color: lightgrey;
}

.footer-copyright a:hover {
    text-decoration: underline
}

.fullwidth {
    width: 100%
}

main {
    padding-top: 15px;
    font-size: 18px
}

.smll {
    font-size: 70%
}

h1 {
    line-height: 120%;
    text-align: center;
    font-size: 5vmax
}

h2 {
    text-align: center;
}

h3 {
    line-height: 4rem
}

.card-image {
    max-height: 17rem
}

.card-image .activator {
    -webkit-transition: all 1.3s ease-out;
    transition: all 1.3s ease-out;
}

a:hover .activator, a:focus .activator {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

p.th {
    line-height: 2.0rem;
}

.fullwidth {
    width: 100%
}

.sector {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    background-color: #fff;
    line-height: 1.5rem;
    padding: 15px 25px 15px 15px;
    width: 100%
}